body{
    width: 100%;
    height: 100%;
    background-color: powderblue;
}

.inner-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,147,173,0.9);
    overflow: auto;

}

.form-data{
    margin-top: 15%;
    background-color: #FFF;
    padding: 20px;
}

.form-body{
    padding: 20px;
}

.form-head{
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.form-head h2{
    font-size: 22px;
    font-weight: 600;
}

.no-margin{
    margin: 0px;
}

.form-row{
    margin-bottom: 15px;
}

.form-control{
    background-color: #f7f7ff;
}

.form-control:focus{
    box-shadow: none;
    border: 3px solid #138496;
}

.btn-appointment{
    background-color: #138496;
    border-color: #138496;
    width: 100%;
}

.content{
    margin-top: 15%;
    text-align: center;
    color: #FFF;
}

.content h1{
    font-weight:600;
    font-size: 3.5rem;
}

.content p{
    font-size: 22px;
}